<html>
    <head th:replace="~{base :: head}"/>
    
    <body>
        <div th:replace="~{base :: logo}"/>
        <div class="container">
            <div th:replace="~{base :: title('Últimos Pedidos')}"/>
            <div class="card mb-3" th:each="o : ${orders}">
                <div class="card-header alert-dark" th:text="${o.productName}"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-8 mb-3">
                            <div class="row">
                                <div class="col-md-5">Valor: <span th:if="${o.value} != null" th:text="${'R$ ' + #numbers.formatDecimal(o.value, 3, 'POINT', 2, 'COMMA')}"></span></div>
                                <div class="col-md-7">Data da entrega: <span th:text="${#temporals.format(o.deliveryDate, 'dd/MM/yyyy')}"></span></div>
                            </div>
                            <div>Produto</div>
                            <div><input class="form-control" th:value="${o.productUrl}" value=""/></div>
                            <div>Descrição</div>
                            <div>
                                <textarea class="form-control" th:text="${o.description}">Descrição do Pedido</textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div>
                                <img class="img-thumbnail" th:src="${o.imageUrl}" src=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>